html {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --ltgray: hsl(217, 12%, 63%);
  --medgray: hsl(216, 12%, 54%);
  --dblue: hsl(213, 19%, 18%);
  --vdblue: hsl(216, 12%, 8%);

  font-family: 'Overpass', sans-serif;
  font-size: 15px;
}

body {
  background-color: var(--vdblue);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: radial-gradient(#232a34, #181e27);
  border-radius: 30px;
}

.card > * {
  margin-left: 32px;
  margin-right: 32px;
}

.icon-bg {
  height: 48px;
  width: 48px;
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: var(--dblue);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--white);
  font-size: 28px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
}

.para {
  color: var(--ltgray);
  line-height: 24px;
  margin-bottom: 24px;
}

.rating-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  margin-bottom: 32px;
}

.rating {
  height: 51px;
  width: 51px;
  background-color: var(--dblue);
  border: none;
  border-radius: 25px;
  color: var(--medgray);
  font-weight: bold;
  font-size: 16px;
  transition: background-color, color 0.15s;
}

.rating:hover {
  background-color: var(--orange);
  color: var(--white);
  cursor: pointer;
}

.selected {
  background-color: var(--medgray);
  color: var(--white);
}

.submit {
  height: 45px;
  background-color: var(--orange);
  border: none;
  border-radius: 23px;
  color: var(--white);
  font-weight: bold;
  margin-bottom: 32px;
  transition: background-color, color 0.15s;
}

.submit:hover {
  background-color: var(--white);
  color: var(--orange);
  cursor: pointer;
}

.thank-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: inherit;
}

.selection {
  width: 193px;
  height: 32px;
  background-color: var(--dblue);
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px;
}

.sel-text {
  color: var(--orange);
  margin: auto;
}

.center {
  text-align: center;
}


@media only screen and (max-width: 375px) {
  .card {
    width: 327px;
    height: 360px;
  }

  .rating-cont {
    width: 281px;
  }

  .submit {
    width: 279px;
  }
}


@media only screen and (min-width: 376px) {
  .card {
    height: 416px;
    width: 412px;
  }

  .rating-cont {
    width: 341px;
  }

  .submit {
    width: 341px;
  }
}